.contact-hero__forms {
  width: 100%;
  width: 380px;
  margin-right: 9.5rem;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.contact-hero__forms form input {
  margin-bottom: 2.5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 1.2rem;
  padding-left: 1.6rem;
  padding-top: 0.5rem;
  color: $white-color;
  opacity: 0.5;
  border-bottom: 2px solid $white-color;
  background-color: $peach-color;
}
.contact-hero__forms form textarea {
  font-size: 15px;
  color: $white-color;
  opacity: 0.5;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: $peach-color;
  border-bottom: 2px solid $white-color;
  padding-bottom: 7.6rem;
  padding-top: 0;
  margin-bottom: 2.4rem;
}
.contact-hero__container {
  padding-bottom: 16rem;
}
.contact-hero__bg {
  background-image: url("../images/about-oval.svg");
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  background-color: $peach-color;
  border-radius: 15px;
}
.contact-hero__content {
  width: 100%;
  max-width: 540px;
  margin-left: 9.5rem;
  display: flex;
  flex-direction: column;
}
.contact-hero__title {
  margin-bottom: 3.2rem;
  color: $white-color;
}
.contact-hero__text {
  width: 100%;
  max-width: 445px;
  color: $white-color;
  font-size: 16px;
}
.contact-hero__forms form {
  display: flex;
  flex-direction: column;
}

.form-btn {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-self: end;
  width: 100%;
  max-width: 152px;
}
