.footer {
  background: #1d1c1e;
  padding-bottom: 7.2rem;
}
.footer__services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14.5rem;
  padding-bottom: 4rem;
}
.footer__services a {
  color: $white-color;
}
.footer__services a:hover {
  border-bottom: 1px solid $white-color;
}
.footer__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list2 li svg path:hover {
  fill: $peach-light-color;
  cursor: pointer;
}
.footer-line {
  border-bottom: none;
  color: $white-color;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 1110px;
  height: 1px;
}
.footer__text a {
  font-weight: 700;
  color: $white-color;
  opacity: 0.5;
}
.footer__list2 {
  margin-top: 5.3rem;
  display: flex;
  gap: 1.7rem;
  align-items: center;
}

@media screen and (max-width: 610px) {
  .footer__services {
    flex-direction: column;
  }
  .footer nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.2rem;
  }
  .footer {
    .footer__text {
      flex-direction: column;
      gap: 4rem;
    }
    .footer__text ul {
      text-align: center;
    }
    .site-logo {
      margin-bottom: 3.2rem;
    }
  }
}
