$peach-color: #e7816b;
$peach-light-color: #ffad9b;
$black-color: #000000;
$black-two-color: #1d1c1e;
$dark-grey-color: #333136;
$white-color: #fff;
$light-grey-color: #dfdfdf;
$web-content-bg-color: #fdf3f0;

$body-ff: "Jost", sans-serif;
$body-two-ff: "Manrope", sans-serif;
